# EditorConfig: https://EditorConfig.org

root = true

[*]
# Completely covers yml, json
indent_style = space
indent_size = 2
charset = utf-8
insert_final_newline = true

[*.{py}]
trim_trailing_whitespace = true
max_line_length = 100

[*.md]
trim_trailing_whitespace = false
